.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.stat-card {
  padding: 8px 4px;
  border-radius: 6px;
  background: var(--mantine-color-gray-0);
  text-align: center;
}
